.Box{
    max-height: 100px;
    border: 2px solid black;
    overflow: scroll;
    background-color: aquamarine;
    border-radius: 90px;
}
.Box1{
    margin:  10px;
    min-height: 100px;
    border: 2px solid black;
    overflow: scroll;
    background-color: aquamarine;
    border-radius: 90px;
}